name: Update Changelog

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  changelog:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Conventional Changelog
        id: changelog
        uses: TriPSs/conventional-changelog-action@v5
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          git-message: "chore: update changelog"
          preset: angular
          release-count: 0
          skip-version-file: "true"
          skip-tag: "true"
          skip-git-pull: "true"
          skip-commit: "true"
          git-push: "false"
          output-file: CHANGELOG.md

      - name: Commit changelog to PR (autocommit)
        if: github.event_name == 'pull_request' && steps.changelog.outputs.skipped != 'true' && !contains(github.head_ref, 'dependabot/')
        run: |
          if git diff --quiet --exit-code CHANGELOG.md; then
            echo "Changelog is up to date"
            exit 0
          fi
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git add CHANGELOG.md
          git commit -m "chore: update changelog"
          git push
